# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build*
*~lock*

#qt user project file 
*.pro.user


IOTV/src/MK/.directory

IOTV/src/MK/FreerRTOS/home_meteo_II/.cproject

IOTV/src/MK/FreerRTOS/home_meteo_II/.settings/

IOTV/src/MK/FreerRTOS/home_meteo_II/.project

IOTV/src/MK/FreerRTOS/id_2/dependencies.lock

*txt.user

*CMakeFiles*
*Makefile
*CMakeCache.txt

*cmake_install.cmake

IOTV/pcb/*backups/*.zip

IOTV/src/IOTV_server/iotv_server_autogen/*

IOTV/pcb/IOTV_id5/1.2/IOTV-backups/IOTV-2024-06-23_182406.zip
