# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build*
*~lock*

#qt user project file 
*.pro.user

*MakeFile

IOTV/src/MK/.directory

IOTV/src/MK/FreerRTOS/home_meteo_II/.cproject

IOTV/src/MK/FreerRTOS/home_meteo_II/.settings/

IOTV/src/MK/FreerRTOS/home_meteo_II/.project
