* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  margin: 0;
/*  padding: 25px 0;*/
}

.menu_1 {
  padding: 15px 0;
  display: inline-block;
  width: 32.7%;
  margin: auto;
  padding: auto;
  text-align: center;
}

.menu_1:hover {
   background: #FF7F50;
}

.menu_1 a{
  text-decoration: none;
  color: #fff
}

.menu {
  font-size: 28px;
  font-weight: bold;
  background: #4682B4;
}

.menu, .content{
  width: 825px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black
}

/*.content xmp, p, h2, h3{
  margin: 10px auto 10px auto;
  padding: 0 20px;
}*/

.content xmp{
  font-size: 16px;
}

/*.content p{
  font-size: 16px;
}*/

.content_block {
  padding: 20px
}

.center {
  margin: 10px auto 10px auto;
  padding: 0 20px;
  text-align: center;
/*   width: 100% */
/*   display: block; */
}

select {
  width: 100%;
  height: 180px;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 200px;
  height: 30px;
}

#url {
  width: 100%;
  margin-bottom: 10px;
}

.btn {
    text-align: right;
}

button {
  width: 200px;
  height: 30px;
}

label {
  margin-bottom: 10px;
  font-size: 14px;
  width: 80px;
  display: inline-block;
}

#modal {
  display: none;
}
#modal_back, #modal_msg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#modal_msg {
  z-index: 1;
  width: 800px;
  height: 300px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #fff;
  margin: auto;
}


#modal_msg p{
  width: 100%;
  height: 100%;
  margin: auto;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 42px;
}

#modal_back {
  width: 100%;
  height: 100%;
  padding: 0;
  opacity: 0.5;
  background-color: #ccc;
}
